.footer {
  height: 100px;
  width: 100%;
  color: var(--color-light);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
  font-size: var(--text-xs);

  box-sizing: border-box;

  background-color: var(--color-dark);
  border-top: 5px solid var(--color-light);

  &__logo {
    width: 100px;
  }

  &__menu {
    display: flex;
    gap: 40px;
  }
  
}