.navbar {
  height: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;

  box-sizing: border-box;

  background-color: var(--color-light);
  border-bottom: 9px solid black;



  &__link-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../images/icon/icon_nav.svg');
    background-size: auto 150%;
    

    &--accueil{
      background-position: -5px 0;
    }

    &--jouer{
      background-position: -34px 0;
    }

    &--classement{
      background-position: -63px 0;
    }
  }



  &__logo {
    width: 100px;
  }

  &__menu {
    display: flex;
    gap: 40px;
  }

  &__speaking{
    display: flex;
    gap: 20px;
  }
    &__languages{
      border: solid rgb(103, 103, 103) 1px;
      padding: 10px;

    &-fr{
      background-color: var(--color-yellow); 
      
    }
  }
}





