:root {
  --color-light: #f5eddd;
  --color-dark: #0e0e0e;
  --color-yellow: rgb(255, 182, 47);
  --color-pink: rgb(234, 60, 89);
  --color-blue: rgb(42, 212, 218);
  --color-grey: rgb(138, 138, 138);
  --color-darkgrey:rgb(56, 56, 56);


  --text-xs: 12px;
  --text-m: 20px;
  --text-lg: 35px;
  --text-xl:64px;
}