@font-face {
  font-family: "Barrio";
  src: url("webfonts/Barrio/Barrio-Regular.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Recursive";
  src: url("webfonts/Recursive/webfonts/Recursive/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf") format("truetype-variations");
  font-style: normal;
  font-weight: 300 1000;
}

@font-face {
  font-family: "Rubik-italic";
  src: url("webfonts/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300 900;
}

@font-face {
  font-family: "Rubik";
  src: url("webfonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 300 900;
}